// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }

      .main-nav__sublist-wrapper {
        padding: 0.5em;
        .main-nav__list--lvl-2 {
          padding: 0.5em;
        }
      }
      .main-nav__sublist-title {
        margin-top: 0;
        margin-bottom: 0;
      }

    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      #{$block-name}__item {}
      #{$block-name}__link {}

    }
  }

  &__item {
    position: relative;

    &--active {

      & > #{$block-name}__link {
        color: #000;
      }
    }
  }

  &__link {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: transparent;
      color: #828282;
    }

    &--lvl-2 {

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 1.2em;
      }
    }

    &--lvl-3 {

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 2.4em;
      }
    }
  }

  &__sublist-title {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 14px;
  }

  &__sublist-wrapper {

    &--lvl-2 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        top: 100%;
        left: 0;
        background: #efefef;
        padding: 25px 20px;
        z-index: 1;
        opacity: 0;
        height: 0;
        overflow: hidden;
        text-align: left;
        transition: opacity $transition-time;

        // stylelint-disable  max-nesting-depth
        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
        // stylelint-enable
      }

      .main-nav__list {
        flex-direction: column;
        // justify-content: flex-start;
        min-width: 200px;
      }

      .main-nav__link {
        text-transform: inherit;
        background-color: transparent;
        padding: 0.5em 0;

        &:hover,
        &:focus {
          color: inherit;
          text-decoration: underline;
        }
      }
    }

    &--lvl-3 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        // stylelint-disable  max-nesting-depth
        #{$block-name}__item--show-child > &,
        #{$block-name}__item--lvl-2:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
        // stylelint-enable
      }
    }
  }



  // переключатель

  &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;

    &:before {
      content: "Меню";
      position: absolute;
      left: 40px;
      font-size: 16px;
      text-transform: uppercase;
    }

    &:hover,
    &:focus {
      outline: none;
    }

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }
}
