// В этом файле должны быть стили для БЭМ-блока field-promo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-promo {

  $block-name:                &; // #{$block-name}__element

  color: #000;
  background: #fff;

  a {
    display: block;
    color: #000;
    padding: 20px;
  }

}
