// В этом файле должны быть стили для БЭМ-блока field-promo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-promo {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  max-width: 623px;
  background: #fff;
  align-items: center;
  padding: 20px 0;

  &__text {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    flex-grow: 1;

    .field-text__name {
      margin-right: 20px;
      margin-bottom: 0;
    }
    .field-text__input-wrap {
      margin-right: 20px;
      flex-grow: 1;
    }
  }

  &__actions {
    padding: 0;
    margin: 0;

    .btn {
      margin-bottom: 0;
      padding-left: 3em;
      padding-right: 3em;
    }
  }

  // @media (max-width: ($screen-sm - 1)) {
  //   flex-direction: column;
  // }

}
