// В этом файле должны быть стили для БЭМ-блока buy, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.buy {

  $block-name:                &; // #{$block-name}__element

  &__title {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
  }

  .row-field {
    display: flex;
    @media (max-width: $screen-md) {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
  }

  .col-field__inputs {
    width: 265px;
    margin-right: 30px;
    flex-shrink: 0;
    @media (max-width: $screen-md) {
      width: 100%;
    }
  }
  .col-field__delivery {
    flex-basis: 100%;
    margin-bottom: 9px;
  }

}
