// В этом файле должны быть стили для БЭМ-блока request, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.request {

  $block-name:                &; // #{$block-name}__element

  @include row;
  margin-bottom: 40px;

  &__col-form {
    @include col();
    @include col(lg, 6);
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: $screen-lg) {
      padding-right: 0;
    }
  }

  &__col-bg {
    @include col();
    @include col(lg, 6);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @media (min-width: $screen-lg) {
      padding-left: 0;
      background-size: cover;

      img {
        display: none;
      }
    }

    img {
      display: block;
      width: 100%;
    }
  }

}
