// В этом файле должны быть стили для БЭМ-блока table-orders, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.table-orders {

  $block-name:                &; // #{$block-name}__element

  th {
    border-bottom: 3px solid #000;
  }

  th, td {
    padding: 0.6em 1em;
    min-width: 110px;
  }

}
