// В этом файле должны быть стили для БЭМ-блока lk-page, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.lk-page {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 40px;

  &__wrap {
    @include row;
  }

  hr {
    border-color: #d6d6d6;
  }

  &__sidebar {
    @include col();
    @include col(lg, 3);
  }

  &__content {
    @include col();
    @include col(lg, 9);
  }

  &__content-inner {
    max-width: 590px;
    margin-left: 40px;

    @media (max-width: ($screen-md - 1)) {
      max-width: 100%;
      margin-left: 0;
    }
  }
}
