// В этом файле должны быть стили для БЭМ-блока banners, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.banners {

  $block-name:                &; // #{$block-name}__element
  @include row;

  &__main-col {
    @include col();
    @include col(sm, 8);
  }

  &__second-col {
    @include col();
    @include col(sm, 4);
  }

  &__item {
    margin-bottom: 20px;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: #000;
    &:hover,
    &:focus {
      color: lighten(#000, 50%);
    }
  }

  &__image {
    margin-bottom: 10px;
  }

  &__caption {
    text-transform: uppercase;
    font-weight: 600;
  }

}
