// В этом файле должны быть стили для БЭМ-блока section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.section {

  $block-name:                &; // #{$block-name}__element

  &__container {
    @include container;
  }

  &__header {
    text-align: center;
    overflow: hidden;
    margin-top: 1.375em;
    margin-bottom: 1.375em;
  }
  &__title {
    font-family: $font-family--title;
    font-size: 30px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &--advantage {
    #{$block-name}__container {
      border-top: 1px solid #ccc;
    }
  }

  &--main {
    padding: 20px 0;
  }

  &--page {
    padding-top: 0;
  }

}
