// В этом файле должны быть стили для БЭМ-блока single-product-image, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.single-product-image {

  $block-name:                &; // #{$block-name}__element

}

.thumbnails-additional {
  .owl-nav .owl-next,
  .owl-nav .owl-prev {
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    height: 30px;
    padding: 5px 0;
  }
}
