// В этом файле должны быть стили для БЭМ-блока advantage, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.advantage {

  $block-name:                &; // #{$block-name}__element
  @include row;
  margin-top: 30px;
  margin-bottom: 30px;

  &__item {
    @include col();
    @include col(md, 6);
    @include col(lg, 3);
    text-align: center;

    &:not(:last-of-type) {
      border-right: 1px solid #ccc;
    }

    @media (max-width: $screen-md) {
      &:not(:last-of-type) {
        border-right: none;
      }
    }
  }

  &__icon {
    margin: 30px 10px;
  }

  &__text {
    font-size: 14px;
  }

}
