// В этом файле должны быть стили для БЭМ-блока advantage, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.advantage {

  $block-name:                &; // #{$block-name}__element
  @include row;
  margin-top: 30px;
  margin-bottom: 30px;

  &__item {
    @include make-col(3);
    text-align: center;

    &:not(:last-of-type) {
      border-right: 1px solid #ccc;
    }
  }

  &__icon {
    margin: 30px 10px;
  }

  &__text {
    font-family: 'Lora';
  }

}
