// В этом файле должны быть стили для БЭМ-блока basket-product, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.basket-product {

  $block-name:                &; // #{$block-name}__element

  width: 100%;

  &__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b8b8b8;
    margin: 0 0 30px;
    padding: 0 0 30px;
    position: relative;
    @media (max-width: $screen-md) {
      flex-wrap: wrap;
    }
  }

  &__part {
    &--photo {
      width: 11%;
      flex-shrink: 0;
    }
    &--name {
      width: 35%;
      padding: 20px 15px;
    }
    &--options {
      width: 25%;
      padding: 20px 15px;
    }
    &--quantity {
      width: 20%;
      padding: 20px 15px;
    }
    &--price {
      width: 15%;
      text-align: right;
      padding: 20px 15px;
    }
    @media (max-width: $screen-md) {
      flex-wrap: wrap;
      &--photo {
        width: 30%;
        flex-shrink: 0;
      }
      &--name {
        width: 70%;
        padding: 20px 15px;
      }
      &--options,
      &--quantity,
      &--price {
        width: 100%;
        text-align: left;
        padding: 10px 15px;
      }
    }
  }

  &__close {
    color: #b8b8b8;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 1px dashed #b8b8b8;
    position: absolute;
    right: 15px;
    bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    &:hover,
    &:focus {
      // border: none;
    }
  }

  &__total-cost {
    text-align: right;
    font-size: 16px;
    @media (max-width: $screen-md) {
      text-align: left;
    }
  }

}
