// В этом файле должны быть стили для БЭМ-блока catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog {

  $block-name:                &; // #{$block-name}__element
  display: flex;

  &__filters {
    width: 270px;
    margin-right: 15px;
    flex-shrink: 0;
  }

  &__shopwindow {
    @include row;

    .product-card {
      @include make-col(4);
      margin-bottom: 25px;
    }

  }

}
