// В этом файле должны быть стили для БЭМ-блока filterblock, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.filterblock {

  $block-name:                &; // #{$block-name}__element
  margin-bottom: 15px;

  &__title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__reset {
    color: #b8b8b8;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 1px dashed #b8b8b8;
    position: absolute;
    right: 5px;
    top: 3px;
    cursor: pointer;
    &:hover,
    &:focus {
      color: #000;
      border-bottom: none;
    }
  }

  &--dropdown {
    #{$block-name}__title {
      position: relative;
      margin: 0 0 8px;
      padding: 3px 70px 4px 25px;
      .icon {
        position: absolute;
        left: 0;
        top: 10px;;
      }
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }
  }

}
