// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element

  display: block;
  text-decoration: none;
  white-space: nowrap;

  img {
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }

  &__caption {
    display: block;
    color: #9f9f9f;
  }

  &--bottom {
    svg {
      fill: #fff;
      display: none;
    }
    @media (max-width: $screen-md) {

      margin-bottom: 20px;

      svg {
        display: block;
        width: 130px;
      }

      .logo-img {
        display: none;
      }
    }
  }
}
