// В этом файле должны быть стили для БЭМ-блока field-box, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-box {

  $block-name:                &; // #{$block-name}__element

  border: 1px solid #ededed;
  background: #ededed;
  max-width: 360px;

  .field-actions {
    padding: 20px 20px 0 20px;
    margin: 0;
  }
  .field-checkbox {
    padding: 0 20px 20px 20px;
  }

}
