// В этом файле должны быть стили для БЭМ-блока field-box, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-box {

  $block-name:                &; // #{$block-name}__element

  background: #ededed;
  max-width: 623px;
  padding: 20px;

  .field-actions {
    max-width: 265px;

    .field-actions__text {
      font-size: 16px;
      color: #000;
    }
  }

}
