// В этом файле должны быть стили для БЭМ-блока product, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product {

  $block-name:                &; // #{$block-name}__element

  a {
    color: #000;
  }

  @include row;

  &__media-col {
    @include col();
    @include col(md,6);
  }
  &__info-col {
    @include col();
    @include col(md,6);
  }

  &__name {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 10px;
  }
  &__caption {
    margin-top: 0;
  }
  &__cost {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 35px;
  }
  &__color {
    margin-bottom: 15px;
  }
  &__size {
    display: flex;
    justify-content: space-between;
    a {
      margin-bottom: 15px;
    }
  }

  &__description {
    line-height: 1.6;;
  }

  &__description-part {
    margin-bottom: 25px;
  }

}

.zoomContainer {
  z-index: 100;
}
